@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    height: 98vh;
    background-image: linear-gradient(to bottom, rgb(236, 142, 0), rgb(251, 255, 2));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif; color: black;
}

main {
    background-color: white;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
}

h1{
    margin: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 34px;
}

h2{
    text-align: center;
    font-size: 24px;
}

h2.contato {
    padding-top: 50px;
    padding-bottom: 25px;
}

div#foto-perfil {
    padding: 10px 0px 10px 0px;
    text-align: center;
}

img#perfil {
    width: 150px;
    border-radius: 50%;
}

p{
    padding: 0px 14px 0px 14px;
    text-align: center;
}

p#agradescer {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: smaller;
}

div#portfolio {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 20px;
}

main > div > a {
    color: black;
    text-decoration: underline;
    font-size: larger;
    font-variant: small-caps;
    font-weight: bolder;
}

a {
    width: 50px;
    text-decoration: none;
}

img.icones {
    margin: 10px 20px;
    width: 50px;
}

nav.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
