@charset "UTF-8";

/*
--Outras Midias--
---------------------------------
    Typical Device Breakpoints
---------------------------------
Pequenas telas: até 600px
Celular: 600px - 768px
Tablet: 768px - 992px
Desktop: 992px - 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 769px) {
    html, body {
        background: rgb(236, 142, 0) linear-gradient(to bottom, rgb(236, 142, 0), rgb(251, 255, 2));
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    main {
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 10px;
    }
}
