@charset "UTF-8";

/*
  Mobile Fist
---------------
*/


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: black;
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 99vh;
    background-color: rgb(236, 142, 0);
}

main {
    background-color: white;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

h1{
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.7em;
}

h2{
    text-align: center;
    font-size: 1.3em;
}

h2.contato {
    padding-top: 10px;
    padding-bottom: 20px;
}

div#foto-perfil {
    padding: 10px 0px 10px 0px;
    text-align: center;
}

main > div > a {
    color: black;
    text-decoration: underline;
    font-size: larger;
    font-variant: small-caps;
    font-weight: bolder;
}

img#perfil {
    width: 150px;
    border-radius: 50%;
}

p{
    font-size: 13pt;
    text-align: justify;
    padding: 0px 10px;
    max-width: 550px;
    display: block;
    margin: auto;
}

p#link-portfolio {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: center;
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 4px 0px;
    border-radius: 15px;
    background-color: black;
}

p#link-portfolio > a {
    text-decoration: none;
    color: white;
}

nav.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

a {
    width: 50px;
    text-decoration: none;
}

p.txticon {
    text-align: center;
}

img.icones {
    margin: 5px 20px;
    width: 50px;
}

p#agradescer {
    text-align: center;
    font-size: smaller;
    padding-top: 15px;
    padding-bottom: 10px;
}
